form {
	top: 50%;
	left: 50%;
	position: absolute;
	width: 50%;
	height: 50%;
	margin-left: -18%;
	margin-top: -4%;
}

input {
	border: none;
	border-bottom: 1px solid #4ABDAC;
	display: block;
	float: left;
	outline-width: 0;
	width: 40%;
	height: 10%;
	font-size: 38px;
	position: relative
}

input.clicked {
  width: 80%;
  transition: width 400ms ease-in;	
}

form.clicked {
	margin-left: -24%;
	transition: margin-left 400ms ease-in;	
}

input.notClicked {
  width: 40%;
  transition: width 400ms ease-in;	
}

form.notClicked {
	margin-left: -15%;
	transition: margin-left 400ms ease-in;	
}


form.error {
	-webkit-animation: shake 0.4s linear;
	-moz-animation: shake 0.4s linear;
	-o-animation: shake 0.4s linear;
	animation: shake 0.4s linear;
}
@-webkit-keyframes shake {
	0% { -webkit-transform: translate(15px); }
	20% { -webkit-transform: translate(-30px); }
	40% { -webkit-transform: translate(15px); }
	60% { -webkit-transform: translate(-15px); }
	80% { -webkit-transform: translate(8px); }
	100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes shake {
	0% { -moz-transform: translate(15px); }
	20% { -moz-transform: translate(-30px); }
	40% { -moz-transform: translate(15px); }
	60% { -moz-transform: translate(-15px); }
	80% { -moz-transform: translate(8px); }
	100% { -moz-transform: translate(0px); }
}
@-o-keyframes shake {
	0% { -o-transform: translate(15px); }
	20% { -o-transform: translate(-30px); }
	40% { -o-transform: translate(15px); }
	60% { -o-transform: translate(-15px); }
	80% { -o-transform: translate(8px); }
	100% { -o-transform: translate(0px); }
}

@keyframes shake {
	0% { transform: translate(15px); }
	20% { transform: translate(-30px); }
	40% { transform: translate(15px); }
	60% { transform: translate(-15px); }
	80% { transform: translate(8px); }
	100% { transform: translate(0px); }
}

button {
	border: none;
	border-radius: 5px;
	background-color: #4ABDAC;
	display: block;
	float: left;
	color: white;
	height: 10%;
	width: 20%;
	position: relative;
}

button:hover {
	background: #007849;
}